.heading
{
    font-size: 23px;
    width: 100%;
    margin:0px;
}
.Note
{
    font-size: 15px;
    color: black;
}
body
{
    background-size: cover;
}
.Div_speed
{
    float:left;
}
.Div_speed_img
{
    border-radius: 100%;
    width:200px;
}
#speed
{
    margin: 10px;
    font-size:23px;
}
.Div_volume
{
    float:right;
}
.Div_volume_img
{
    border-radius: 100%;
    width:200px;
}
#volume
{
    margin: 10px;
    font-size:23px;
}
.play
{
    width: 130px;
    font-size: 23px;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
}
